body{
    background-color: #085582;
}
h1{
    color: black;
    background-color:#90ddf0 ;
}
#show_sketch{
    float: right;
}
p{
    padding-top: 10px;
    font-size: 25px;
}
canvas{
    border:5px solid white;
    border-radius: 20px;
    animation-name:example;
    animation-iteration-count:infinite;
    margin-top: 50px;
    animation-duration:4s;

}
@keyframes example{
    from{box-shadow: 1px 1px 38px white;}
    to{box-shadow: 1px 1px 38px yellow}
}